<ion-content padding class="signIn">
  <div class="signIn__container">
    <img src="../../assets/imgs/logo.svg" alt="">
    <input type="tel" class="signIn__input" #phoneInput [(ngModel)]="phone" placeholder="+ 7 7__ ___ __ __ "
           prefix="+7 " mask="000 000 00 00" (keyup)="checkNumber(phoneInput)"/>
    <input type="password" class="signIn__input" [(ngModel)]="password" placeholder="{{'signIn.password'|translate}}"
           *ngIf="exists && phone.length === 10" id="passwordInput"
    />
    <div class="signIn__checkbox" *ngIf="exists && phone.length === 10">
      <input type="checkbox" id="aggree" ([ngModel])="agree" (change)="agree = !agree">
      <label for="aggree" class="signIn__checkbox__label" [innerHtml]="'signIn.offer' | translate"></label>
    </div>
    <button ion-button (click)="signIn()" class="signIn__button" [disabled]="checkForm()"
            *ngIf="exists && phone.length === 10">
      {{ 'signIn.logIn' | translate }}
    </button>
    <button ion-button (click)="sendSms()" class="signIn__button" *ngIf="exists === false && phone.length === 10">
      {{ 'signIn.further' | translate }}
    </button>
  </div>
</ion-content>
