<ion-header>
  <ion-navbar>
    <ion-title>{{ 'tastamats.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!--<ion-input type="text" value="" class="tastamatApp__input&#45;&#45;search"-->
             <!--placeholder="{{ 'tastamats.find' | translate }}"></ion-input>-->


  <p class="tastamatApp__title">{{ 'tastamats.closer' | translate }}</p>
  <p class="tastamatApp__list__title" *ngIf="!tastamats.list.length" [innerHtml]="'global.notFound' | translate"></p>
  <div class="tastamatApp__list">
    <div *ngFor="let item of tastamats.list" id="{{item.id}}" class="tastamatApp__list__item">
      <div class="tastamatApp__list__title" (click)="expand(item)">
        <span>{{item.address.buildingShortRu}}</span>
        <span>~{{item.location.distance}} {{ 'tastamats.meter' | translate }}</span>
      </div>
      <div class="tastamats__info">
        <div class="tastamats__info__text">
          <div class="tastamats__address">{{item.address.streetShortRu}} {{item.address.buildingNumber}}</div>
          <div class="tastamats__text">{{item.location.descriptionRu}}</div>
        </div>
        <a href="{{item.gisUrl ? item.gisUrl : 'https://2gis.kz'}}" class="tastamats__info__map"></a>
      </div>
    </div>
  </div>
  <div class="tastamats__row">
    <button (click)="loadMore()" *ngIf="showMore" class="tastamatApp__showMore">
      {{ 'global.showMore' | translate }}
    </button>
  </div>
</ion-content>
