page-tastamats {
  .tastamats {
    &__info {
      display: flex;
      margin-top: 1.5em;
      &__text {
        display: flex;
        flex-direction: column;
        flex: 1;
      }
      &__map {
        width: 80px;
        height: 80px;
        background: url("../../assets/imgs/map-button.svg") no-repeat;
        background-size: contain;
      }
    }
    &__text {
      font-style: normal;
      line-height: normal;
      font-size: 10px;
      color: #797979;
    }
    &__address {
      @extend .tastamats__text;
      font-weight: 700;
      margin-bottom: 2em;
    }
    &__row {
      display: flex;
      flex: 1;
      justify-content: center;
    }
  }
}
