@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,700');

* {
  font-family: 'Rubik', sans-serif;
}

.tabbar {
  box-shadow: 0px -2px 6px #BDBDBD;
}

.toolbar-title {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Rubik', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
}

ion-title {
  justify-content: center;
  & ion-select {
    max-width: none;
  }
  & .select-icon-inner {
    color: #ffffff !important;
  }
}

.toolbar-ios {
  & ion-title {
    padding: 0 1em;
  }
}

.tabs {
  & .tab-button-text {
    font-size: 1.2rem;
  }
}

.tastamatApp {
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  &__col {
    display: flex;
    flex-direction: column;
    &--end {
      @extend .tastamatApp__col;
      align-items: flex-end;
    }
  }
  &__row {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: flex-end;
    &--center {
      @extend .tastamatApp__row;
      justify-content: center;
    }
  }
  &__close {
    line-height: normal;
    font-size: 1.5em;
    text-align: center;
    color: #797979;
    background: transparent;
    border: 0;
    &--white {
      @extend .tastamatApp__close;
      color: #ffffff;
    }
  }
  &__primaryButton {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    height: auto;
    background: #FA631D;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 1em 0.5em;
    font-size: 1.4rem;
    font-weight: bold;
    color: #FFFFFF;
    width: 100%;
    &:disabled {
      background: #FC935E;
    }
    &:not(:first-of-type) {
      margin-left: 1em;
    }
  }
  &__title {
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    font-size: 14px;
    color: #797979;
    margin: 16px 0;
    &:first-of-type {
      margin-top: 0;
    }
  }
  &__input {
    border: 1px solid #FA631D;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 100%;
    &:not(:first-of-type) {
      margin-top: 16px;
    }
    &::placeholder {
      color: #CFCFCF;
    }
    & input {
      margin: 0 !important;
      &::placeholder {
        color: #CFCFCF;
      }
    }
    &--leftIcon {
      padding: 14px 18px 14px 46px;
      & input {
        padding: 14px 18px 14px 46px;
      }
    }
    &--rightIcon {
      & input {
        padding: 14px 46px 14px 18px;
      }
    }
    &--search {
      @extend .tastamatApp__input;
      background: #FFFFFF;
      margin-bottom: 1em;
      & .searchbar-search-icon {
        left: 9px;
        top: 9px;
        width: 14px;
        height: 14px;
        background-size: contain;
      }
      & input {
        background: #ffffff;
        padding: 0 3rem !important;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
      }
    }
    &--person {
      @extend .tastamatApp__input;
      @extend .tastamatApp__input--leftIcon;
      background: #FFFFFF url("../assets/icon/person.svg") 14px 50% no-repeat;
    }
    &--phone {
      @extend .tastamatApp__input;
      @extend .tastamatApp__input--leftIcon;
      background: #FFFFFF url("../assets/icon/phone.svg") 14px 50% no-repeat;
    }
    &--amount {
      @extend .tastamatApp__input;
      @extend .tastamatApp__input--rightIcon;
      margin-bottom: 1.5em;
      &:after {
        content: attr(aria-label);
        position: absolute;
        height: 16px;
        right: 16px;
        top: calc(50% - 10px);
      }
    }
    &--textCenter {
      @extend .tastamatApp__input;
      padding: 0.875em;
      font-size: 14px;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 1.5em;
    }
  }
  &__input2 {
    background: #FFFFFF;
    border: 1px solid #FA631D;
    box-sizing: border-box;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 25px;
    padding: 14px 7px;
    width: 100%;
    text-align: center;
    &::placeholder {
      color: #CFCFCF;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
    &__title {
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 14px;
      color: #797979;
      display: flex;
      justify-content: space-between;
      > span {
        font-size: 1em;
      }
    }
    &__item {
      width: 100%;
      text-align: left;
      font-size: 16px;
      padding: 1.5em 0 1.5em 1em;
      background: #FFFFFF url("../assets/imgs/closed.svg") center left no-repeat;
      overflow: hidden;
      max-height: 64px;
      &:not(:first-of-type) {
        border-top: 0.25px solid #797979;
      }
      &.expanded {
        max-height: none;
        background: #FFFFFF url("../assets/imgs/opened.svg") 0 29px no-repeat;
      }
    }
  }
  &__showMore {
    margin-top: 1.5em;
    background: transparent;
    font-size: 1em;
    font-weight: 300;
    padding: 0.5em 0.75em;
    color: #FA631D;
    border: 1px solid rgba(250, 99, 29, 0.5);
    text-align: center;
    border-radius: 50px;
  }
  &__headerIcon {
    height: 24px;
    width: 24px;
    background: transparent;
    position: absolute;
    right: 5%;
    top: calc(50% - 12px);
    color: #fff;
    font-size: 1.4em;
  }

  &__checkbox {
    margin-top: 24px;
    & a {
      text-decoration: underline;
    }
    & input[type='checkbox'] {
      display: none;
      &:checked {
        + .tastamatApp__checkbox__label {
          position: relative;
          &:after {
            content: '';
            display: block;
            width: 3px;
            height: 9px;
            border: 2px solid #FA671D;
            border-left-width: 0;
            border-top-width: 0;
            transform: rotate(45deg);
            position: absolute;
            left: 7px;
            top: 3px;
          }
        }
      }
    }
    &__label {
      display: flex;
      align-items: center;
      font-style: normal;
      font-weight: normal;
      line-height: normal;
      font-size: 0.75em;
      color: #797979;
      & a {
        font-size: 1em;
      }
      &:before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        background: #FFFFFF;
        border: 1px solid #FA671D;
        box-sizing: border-box;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
        margin-right: 8px;
      }
    }
  }
  &__form {
    display: flex;
    flex-direction: column;
    margin: 3em 0;
  }
}

.bar-buttons-md {
  & .tastamatApp__close {
    font-size: 1.2em;
  }
}

.invalid {
  display: flex;
  align-items: center;
  color: red !important;
  &:after {
    content: '!';
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f53d3d;
    width: 16px;
    font-size: 12px;
    height: 16px;
    color: #ffffff;
    border-radius: 50%;
    text-align: center;
    margin-left: 1em;
  }
}

ion-item {
  .item-inner {
    padding-right: 0 !important;
  }
}
