<ion-header>
  <ion-navbar>
    <ion-title>{{ type === 'fillUp' ?  ('payment.fillUp' | translate) : ('payment.history' | translate) }}</ion-title>
    <ion-buttons end>
      <button class="tastamatApp__close--white" (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)" *ngIf="type === 'history'">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <form (submit)="createPayment()" style="margin: 3em 0" *ngIf="type === 'fillUp'">
    <ion-input #amountInput type="tel" [(ngModel)]="amount" class="tastamatApp__input--amount" aria-label="тг."
               placeholder="{{ 'payment.writeAmount' | translate }}" [ngModelOptions]="{standalone: true}"></ion-input>
    <button type="submit" class="tastamatApp__primaryButton" [disabled]="!amount || amount < 1">
      {{ 'payment.accept' | translate }}
    </button>
  </form>

  <div *ngIf="type === 'history'">
    <p class="tastamatApp__list__title" *ngIf="!history.list.length" [innerHtml]="'global.notFound' | translate"></p>
    <div class="tastamatApp__list">
      <div class="payment__listItem" *ngFor="let item of history.list">
        <div class="tastamatApp__col">
          <div class="payment__label">{{ 'payment.amount' | translate }}</div>
          <div>{{item.amount}}</div>
        </div>
        <div class="tastamatApp__col--end">
          <div class="payment__label">{{item.createDate | date: 'dd/MM/yy HH:mm'}}</div>
          <div class="payment__status" ngClass="{{item.status}}">
            {{ 'payment.statuses.' + item.status | translate }}
            <button class="payment__refresh" *ngIf="item.status === 'IN_PROCCESS'" (click)="getCurrentStatus(item.id)">
              <ion-icon name="refresh"></ion-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="tastamatApp__row--center">
      <button (click)="loadMore()" *ngIf="showMore" class="tastamatApp__showMore">
        {{ 'global.showMore' | translate }}
      </button>
    </div>
  </div>
</ion-content>
