<ion-header>
  <ion-navbar>
    <ion-title>{{ 'addParcel.title' | translate }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <p class="tastamatApp__alert" *ngIf="user && (user.profile.wallet < price)">
      {{ 'addParcel.notEnoughBalance' | translate }}
    </p>
    <button class="tastamatApp__fillUp" *ngIf="user && (user.profile.wallet < price)" (click)="fillWallet()">
      {{ 'addParcel.fillUpBalance' | translate }}
    </button>
    <p class="tastamatApp__title">
      {{ 'addParcel.step1' | translate }}
      {{ 'addParcel.or' | translate }}
      <a class="tastamatApp__selectContact" (click)="selectContact()">
        {{ 'addParcel.selectContact' | translate }}
      </a>
    </p>

    <input type="text" class="tastamatApp__input--person" [(ngModel)]="name"
           placeholder="{{ 'addParcel.namePlaceholder' | translate }}" />
    <input type="tel" class="tastamatApp__input--phone" [(ngModel)]="phone"
           #phoneInput
           placeholder="{{ 'addParcel.phonePlaceholder' | translate }}" />

    <p class="tastamatApp__title">{{ 'addParcel.step2' | translate }}</p>
    <div class="addParcel__buttonsRow">
      <button ion-button class="addParcel__cellSize" ngClass="{{cellSize === 'S' ? 'active' : ''}}"
              [innerHTML]="'addParcel.smallCell' | translate" (click)="this.setCellSize('S')"></button>
      <button ion-button class="addParcel__cellSize" ngClass="{{cellSize === 'M' ? 'active' : ''}}"
              [innerHTML]="'addParcel.middleCell' | translate" (click)="this.setCellSize('M')"></button>
      <button ion-button class="addParcel__cellSize" ngClass="{{cellSize === 'L' ? 'active' : ''}}"
              [innerHTML]="'addParcel.bigCell' | translate" (click)="this.setCellSize('L')"></button>
    </div>

    <p class="tastamatApp__title">{{ 'addParcel.step3' | translate }}</p>
    <button ion-button class="tastamatApp__primaryButton" [disabled]="this.checkForm()" (click)="goToQr()">
      {{ 'addParcel.scan' | translate }}
    </button>
    <button class="addParcel__manualInputBtn" [disabled]="this.checkForm()" (click)="openModal()">
      {{ 'addParcel.manualInput' | translate }}
    </button>
    <span class="addParcel__info">
      {{ 'addParcel.info' | translate }}
    </span>
  </div>
</ion-content>
